{% extends '::base.html.twig' %}


{% block body %}

    <ul>
        {% for post in posts %}
        {#<li>{{ post.title }}</li>#}
        <li>{{ post.title }} - {{ post.author.name }}</li>
        {% endfor %}
    </ul>

{% endblock %}