{% extends '::base.html.twig' %}


{% block body %}

    <h2>Symfony 3 Form Tutorial</h2>

    <hr />

    {{ form_start(productForm) }}
    {{ form_widget(productForm) }}
    {{ form_end(productForm) }}

{% endblock %}